<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freelancer | Conectando a Todos</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <!-- CSS externo -->
  <link rel="stylesheet" href="../statics/index.css">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
     <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt="logo" class="img-fluid" width="80px" height="100px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="auth.html">Cadastro / Login</a></li>
        <li class="nav-item"><a class="nav-link" href="vagas.html">Vagas</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- HERO -->
<section class="hero text-center">
  <div class="container">
    <h1>Encontre freelancers ou trabalhos remotos</h1>
    <p>Conectamos profissionais independentes a projetos reais</p>

    <div class="search-box">
      <input type="text" placeholder="Buscar serviços ou habilidades">
      <button>Buscar</button>
    </div>
  </div>
</section>

<!-- CATEGORIAS -->
<section class="container my-5">
  <h3 class="text-center mb-4">Categorias populares</h3>
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="category-card">
        <i class="fas fa-code"></i>
        <h6>Desenvolvimento</h6>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="category-card">
        <i class="fas fa-paint-brush"></i>
        <h6>Design</h6>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="category-card">
        <i class="fas fa-bullhorn"></i>
        <h6>Marketing</h6>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="category-card">
        <i class="fas fa-pen-nib"></i>
        <h6>Redação</h6>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer>
  <div class="container text-center">
    <p>© 2026 FreelaHub</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
</body>
</html>
